.content {

  &__dialog {
    position: relative;
    font-size: 20px;
  }

  &__dialog:after {
    position: absolute;
    right: 25px;
    top: calc(50% - 5px);
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #b0b0b0;
  }
}
